#friends-display-link {
  display: block;
  font-size: 16px;
  text-align: center;
  background-color: var(--lightgray);
  padding: 15px 0px;
  margin-top: -15px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.user-component__title--not-bold {
  font-weight: 400;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: var(--normal-border);
  padding-top: 15px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.friends-screen__channel .user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
}

.friend-component {
  margin-bottom: 20px;
}
