.nav {
  max-width: 800px;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--lightgray);
  border-top: var(--normal-border);
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.nav__btn {
  position: relative;
}

.nav__link {
  color: var(--darkgray);
}

.nav__notification {
  position: absolute;
  bottom: 7.5px;
  right: -10px;
}

.nav__list .nav__btn:last-child .nav__notification {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  top: -5px;
  right: -5px;
}
