#no-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  color: tomato;
  font-size: 28px;
}

#no-mobile img {
  animation: rotateMonsterBall 0.5s ease-in-out infinite;
}

@media screen and (min-width: 410px) and (max-width: 800px) {
  #no-mobile {
    display: none;
  }
}
